body {
    font-family: Cuprum;

}
ul {
    list-style-type: none;
}
.container {
    background-color: lightgray;
    width: 960px;
    margin: 0 auto;
    padding: 0 120px;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
/*===========================*/
.btn {
    font-size: 14px;
    line-height: 18px;
}
.breadcrumbs {
    font-style: sans;
    font-size: 13px;
    line-height: 18px;
}

/*HEADER*/
/*-------------------------*/
.tpo-header li {
    display: inline-block;
}
.logo{
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;

    width: 220px;
}
.top-header {
    font-size: 17px;
    line-height: 18px;
}
.top-header li:nth-child(2) {
    width: 240px;
    padding-left: 10px;
}
.top-header li:nth-child(n+3) {
    width: 150px;
    padding-left: 10px;
}
/*-----------------------*/
.middle-header {
    font-size: 21px;
    line-height: 18px;
}
.middle-header p:first-child {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
}
.middle-header .telephone {
    color: #e9292a;
}
.middle-header p:nth-child(3) {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}
.middle-header .login ul  a{
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
}

header nav {
    font-size: 17px;
    line-height: 17px;
}
/*------------------------------*/
/*КОНЕЦ HEADER*/
/*------------------------------*/


/*MAIN*/
/*-----------------------------*/
/*предложения*/
.propositions {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}
.propositions .items .btn {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}

/*слайдер*/
.propositions .slider span {
    font-size: 36px;
}
.propositions .slider p {
    font-family: sans;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
}
.propositions .slider .btn {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}

/*популярные товары/производители*/
h2 {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
}

.popular+ul {
    font-family: sans;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}
.price {
     font-family: sans;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
}
    
.old-price {
    color: #999999;
}

/*-----------------------------*/
/*КОНЕЦ MAIN*/
/*-----------------------------*/

/*СЕРВИСЫ*/
/*-----------------------------*/
.services p {
    font-size: 13px;
    line-height: 24px;
    font-style: sans;
}

.services h2 {
    font-size: 30px;
    line-height: 24px;
}
.services h3 {
    font-size: 36px;
    line-height: 24px;
    color: #32425c;
}
/*------------------------------*/
/*Конец СЕРВИСЫ*/
/*------------------------------*/

/*О КОМПАНИИ*/
.about-company p {
    font-size: 13px;
    line-height: 24px;
    font-style: sans;
}
.about-company h2 {
    font-size: 30px;
    line-height: 24px;
}
.about-company ul {
    font-size: 18px;
    line-height: 20px;
}
/*----------------------------*/
/*конец О КОМПАНИИ*/
/*----------------------------*/

/*ФУТЕР*/
.top-footer {
    font-size: 18px;
    line-height: 24px;
}
.footer .logo {
    font-size: 30px;
    line-height: 30px;
}
.nav2-footer a {
   color: #ffd180;
}
.bottom-footer {
    font-size: 16px;
    line-height: 18px;
}
.bottom-footer br+a {
    color: #ffd180;
}

/*CATALOG.html(дополнительно)*/
.filter {
    font-family: sans;
    font-size: 13px;
    line-height: 18px;
}
.cost-filter legend,
.manufacturers legend,
.supply legend {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
}

.manufacturers li {
    font-size: 15px;
    line-height: 20px;
}
.supply li {
    font-size: 15px;
    line-height: 20px;
}
/*сортировка*/
.sorting,
.buttons/*кнопки перехода*/ {
    font-style: sans;
    font-size: 13px;
    line-height: 18px;
}
/*выбранный товар*/
.items .item-name {
    font-family: sans;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}
/*----Пара слов о перфораторах--------------------------*/
aside{
    font-style: Cuprum;
    font-height: 24px;
}
aside h2 {
    font-size: 30px;
    color: black;
}
aside p {
    font-size: 13px;
}
/*---------------------------------*/