/**
*CONTENT
*
*
*GENERAL
*left-side........ float влево
*right-side....... float вправо
*clearfix......... сброс обтекания float
*body............. оснвные стили body
*wrapper.......... основной контейнер контента
*
*COMPONENTS
**HEADER..........
***logo...........
***search.........
***checkout.......
***slogan.........
***contacts.......
***login..........
***navigation-main.....
*
**FOOTER
***footer logo
***footer navigation
***contacts-footer
***feedback
***изменение состояний элементов
*/





/*-----------------------------------------------*\
                      GENERAL
\*-----------------------------------------------*/


.left-side  {float: left;}
.right-side {float: right;}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}


body {
  font-family: Cuprum, Arial, sans-serif;
}


.wrapper {
  width: 940px;
  padding: 0 10px;

  margin: 0 auto;
}





/*-----------------------------------------------*\
  $HEADER
\*-----------------------------------------------*/
.header__top {
  background-color: #293449;
}

/*---------------------------LOGO----------------*/
  .header__logo {
    margin: 0;
    width: 220px;
  }

    .logo {
      position: relative;/*чтобы нижняя тень отрисовывалась повер других элементов*/
      display: block;

      padding: 10px ;

      font-size: 24px;
      line-height: 24px;
      font-weight: normal;
      color: #ffffff;
      
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      background-color: #ee3643;
      box-shadow: 0 5px 0 0 #b52933;
      
    }

      .logo:hover {
        background-color: #ca2c37;
      }

      .logo:active {
        background-color: #ba2732;
      }
/*--------------END LOGO-------------------------*/


/*----------------SEARCH-------------------------*/
  .header__search {
    box-sizing: border-box;
    width: 270px;
  }
    .search {
      position: relative;/*для размещения rкнопки*/
    }  

    .search__search-field {
      
      box-sizing: border-box;
      width: inherit;
      padding: 10px 0 14px 48px;

      font-size: 17px;
      /*line-height: 18px;*/
      color: #ffffff;

      border: none;
      background: #293449 url(../img/search-icon-normal.png) no-repeat 15px 13px;
    }
    

    .search__search-field:hover {
      background: transparent url(../img/search-icon-hover.png) no-repeat 15px 13px;
    }
    .search__search-field:focus {
      background: #ffffff url(../img/search-icon-focus.png) no-repeat 15px 13px;
      color: #000000;
    }
    
    /*КНОПКА В СТРОКЕ ПОИСКА
    .serch__btn {
      position: absolute;
      top: 12px;
      left: 17px;
      width: 20px;
      height: 20px;

      font-size: 0;

      border: none;
      background: transparent url(../img/sprite-icon.png) no-repeat -5px -490px;

    }

    .search__search-field:hover + .serch__btn {
      background: transparent url(../img/sprite-icon.png) no-repeat -5px -517px;

    .search__search-field:focus + .serch__btn {
      background: transparent url(../img/sprite-icon.png) no-repeat -5px -544px;
    }
    }*/
 
/*---------------END SEARCH----------------------*/


/*------------CHECKOUT---------------------------*/
.header__checkout {
  max-width: 450px;
  
  outline-style: none;
}

  .checkout {
    padding: 0;
    font-size: 0;
  }

    .checkout__item {
      display: inline-block;
      box-sizing: border-box;
      width: 150px;
    }


      .checkout__bookmarks,
      .checkout__basket {
        position: relative;
        display: block;
        padding: 12px 0 12px 47px;

        font-size: 17px;
        line-height: 18px;
        color: #ffffff;

        text-decoration: none;
      }
      .checkout__bookmarks {
        padding-left: 44px;
      }

      .checkout__btn {
        display: block;
        padding: 12px 20px 12px 20px;

        font-size: 17px;
        /*line-height: 18px;*/
        color: #ffffff;

        text-decoration: none;
        text-align: center;

        background-color: #63a63e;
      }


      .checkout__bookmarks::before {/*иконка закладок*/
        position: absolute;
        top: 11px;
        left: 17px;
        content: '';
        display: table;

        width: 20px;
        height: 20px;

        background: transparent url(../img/sprite-icon.png) no-repeat -5px -57px;
      }

      .checkout__basket::before {/*иконка корзины*/
        position: absolute;
        top: 11px;
        left: 17px;
        content: '';
        display: table;

        width: 20px;
        height: 20px;

        background: transparent url(../img/sprite-icon.png) no-repeat -5px -5px;
      }

        .checkout__bookmarks:hover,
        .checkout__basket:hover {
          background-color: #212a3a;
        }

        .checkout__btn:hover {
          background-color: #5fbb2d;
        }

        .checkout__bookmarks:hover::before {/*иконка закладок при наведении*/
          background: transparent url(../img/sprite-icon.png) no-repeat -5px -83px;
        }

        .checkout__basket:hover::before {/*иконка корзины при наведении*/
          background: transparent url(../img/sprite-icon.png) no-repeat -5px -31px;
        }

           
        .checkout__bookmarks:active,
        .checkout__basket:active {
          background-color: #161d29;
          color: #8b8e94;
        }
        
        .checkout__btn:active {
          background-color: #518534;
          color: #b7c9af;
        }

        .checkout__bookmarks:active::before {/*иконка закладок при клике*/
           background: transparent url(../img/sprite-icon.png) no-repeat -5px -57px;
        }

        .checkout__basket:active::before {/*иконка корзины при клике*/
          background: transparent url(../img/sprite-icon.png) no-repeat -5px -5px;
        }
/*------------END CHECKOUT-----------------------*/


.header__bottom {
  padding-top: 47px;
  padding-bottom: 65px;

  background-color: #f1f5f7;
}


/*----------SLOGAN-------------------------------*/
  .header__slogan {
    box-sizing: border-box;
    margin:0;
    width: 300px;
  }

    .slogan {
      padding-left: 52px;

      font-size: 16px;
      line-height: 23px;
      font-style: italic;
      color: #ee3643;
    }
/*-----------END SLOGAN--------------------------*/


/*--------------CONTACTS-------------------------*/
  .header__contacts {
    width: 300px;
    margin: 0 20px 0 20px;
  }

    .contacts__telephone {
      position: relative;
         
      display: block;
      box-sizing: border-box;
      width: 270px;
      padding: 9px 0 9px 70px;

      font-size: 21px;
      line-height: 18px;
      color: #e9292a;

      border: 3px solid #ffffff;
      }

        .contacts__telephone::before {
          position: absolute;
          top: 10px;
          left: 14px;

          content: '';
          display: table;

          width: 20px;
          height: 20px;

          background: transparent url(../img/icon-phone.png) no-repeat ;
        }


    .contacts__address {
      display: block;
      margin: -15px 0 0 10px;

      font-size: 14px;
      line-height: 24px;
      color: #32425c;
    } 
/*--------------END CONTACTS---------------------*/


/*--------------LOGIN----------------------------*/
.header__bottom-middle-container{/*просто контейнер для отступа*/
  margin-bottom: 39px;
}

  .header__login {
      max-width: 300px;
    }

      .login {
        font-size: 0;
      }

        .login__btn{
          display: inline-block;
          padding: 12px 0 12px 0;

          font-size: 21px;
          line-height: 18px;
          color: #000000; 

          text-decoration: none;

          background-color: #ffffff;
        }

          .login__btn_in {
            position: relative;
            box-sizing: border-box;  
            width: 120px;
            padding-left: 47px;

            margin-right: 10px;
          }

            .login__btn_in::before {
              position: absolute;
              left: 15px;

              content: '';
              display: table;

              width: 20px;
              height: 20px;

              background: transparent url(../img/sprite-icon.png) no-repeat -5px -436px;
            }

            .login__btn_in:hover::before {
              background: transparent url(../img/sprite-icon.png) no-repeat -5px -463px;
            }

            .login__btn_in:active::before {
              background: transparent url(../img/sprite-icon.png) no-repeat -5px -436px;
            }

          .login__btn_reg {
            box-sizing: border-box;
            width: 150px;

            text-align: center;
          }

        .login__btn:hover {
          color: #ee3643;
        }

        .login__btn:active {
          color: #c5c5c5;
        }
/*-------------END LOGIN-------------------------*/
      

/*-------------------navigation-main------------------*/
.navigation-main {
    padding-left: 21px;
    padding-right: 24px;
    
    color: #ffffff;

    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
    list-style: none;
  }

  .navigation-main__list {
    padding: 0;
    margin: 0;
  }

    .navigation-main__item {
      display: inline-block;
    }
      
      .navigation-main__link {
        display: block;
        padding: 20px 30px 16px 30px;
        
        font-size: 17px;
        line-height: 17px;
      }

        .navigation-main__link:hover {
          background-color: #293449;
          cursor: pointer;
        }


        .navigation-main__link:active {
          color: #84888e;
          background-color: #1d2739;
          box-shadow: 0 5px 0 0 #1d2739;
        }
/*-----------------END navigation-main----------------*/





/*-----------------------------------------------*\
          FOOTER
\*-----------------------------------------------*/

.footer__top {
  padding-bottom: 50px;
  color: #ffffff;
  background-color: #32425c;
}
.footer__bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #293449;

    color: #ffffff;        
  }


  .footer__logo {
    width: 220px;
    display: inline-block;
    margin-bottom: 33px;
    /*outline: 2px solid red;*/
  }
    .logo__beeg {
      padding: 17px;

      font-size: 30px;
      line-height: 30px;
    }

/*----------------footer navigation--------------*/
  .navigation-footer ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
  }

    .navigation-footer ul:last-child {
      padding-left: 25px;
    }

    .navigation-footer li {
      padding-top: 37px;
      margin-left: 60px;

    }
    
    .navigation-footer__link {
      font-size: 18px;
      line-height: 24px;

      color: inherit;
      text-decoration: none;
    }
    .navigation-footer ul:last-child .navigation-footer__link {
      color: #f5ca7e;
    }

  /*---------------------------------------------*/


  /*------------contacts-footer------------------*/
  .contacts-footer {
    font-style: normal;
    padding-left: 3px;

    font-size: 18px;
    line-height: 24px;
  }
  /*---------------------------------------------*/


  /*---------------copyright---------------------*/
  .copyright {
    font-size: 16px;
    line-height: 18px;
    padding-top: 15px;

    font-style: normal;
  }
/*-----------------------------------------------*/


/*---------------social--------------------------*/
.social {
  margin-left: 165px;
  margin-right: 119px;
  padding-bottom: 20px;
}
  .social-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 0;

    border-radius: 50%;
    background-color: #212a3a;
  }
    .social-btn_vk {
      background: #212a3a url(../img/icon-vk.png) no-repeat 50% 50%;
    }
    .social-btn_fb {
      background: #212a3a url(../img/icon-facebook.png) no-repeat 50% 50%;
    }
    .social-btn_inst {
      background: #212a3a url(../img/icon-instagramm.png) no-repeat 50% 50%;
    }

/*-----------------------------------------------*/

/*---------------feedback-----------------------*/
.feedback  {
  font-style: normal;
  margin-right: 14px;
  padding-top: 16px;

  font-size: 16px;
  line-height: 18px;
}
  .feedback a {
    color: #ffd180;
    text-decoration: none;
  }
/*-----------------------------------------------*/


/*----------изменение состояния элементов--------*/
.navigation-footer__link:hover {
  text-decoration: underline;
}

.navigation-footer ul:first-child .navigation-footer__link:active {
  text-decoration: none;
  color: #77808f;
}

.navigation-footer ul:last-child .navigation-footer__link:active {
  text-decoration: none;
  color: #99866b;
}


.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
}


.feedback a:hover {
  text-decoration: underline;
}

.feedback a:active {
  text-decoration: none;
  color: #db3644;
}
/*-----------------------------------------------*/







